{% extends 'base.html' %}

{% block content %}

{% if page.project %}
<div class="container">
    <div class="container-fluid px-0">

        <!-- TOP SECTION: Image -->
        <div class="row">

            <div class="col-12">

                {% if page.project.img %}
                <img src="{{ SITEURL }}/theme/images/{{ page.project.img }}" class="project-main-image"
                    alt="{{ page.project.name }}">
                {% endif %}

            </div>

        </div>


        <!-- PROJECT INFO -->
        <div class="row">

            <div class="col-12 project-info">

                <h1 class="project-title">
                    {{ page.project.name }}
                </h1>

                <p class="project-description">
                    {{ page.project.description }}
                </p>

            </div>

        </div>

        <!-- BOTTOM SECTION: Participants + Keywords -->
        <div class="row mt-5">

            <!-- Participants -->
            <div class="col-md-6">
                {% if page.project.participants %}
                <h3>Participants</h3>
                <ul class="participants-list">
                    {% for participant in page.project.participants %}
                    {% if participant.get('name') %}
                    <li>
                        {% set url = participant.get('url') %}
                        {% if url %}
                        <a href="{{ url }}" target="_blank">
                            {{ participant.get('name') }}
                        </a>
                        {% else %}
                        {{ participant.get('name') }}
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Keywords -->
            <div class="col-md-6">
                {% if page.project.keywords %}
                <h3>Keywords</h3>
                <div>
                    {% for kw in page.project.keywords %}
                    <span class="badge bg-secondary me-1 mb-1">
                        {{ kw }}
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>

        {% if page.project.findings %}
        <div class="row mt-5">
            <div class="col-12">
                <h3>Findings & Relevance</h3>
                <p class="project-findings-text">
                    {{ page.project.findings }}
                </p>
            </div>
        </div>
        {% endif %}

    </div>
</div>

<!-- Funding and DOI -->
{% if page.project.funding or page.project.doi_data or page.project.doi_pub %}
<div class="col-md-6 mt-4">
    <div class="mt-3 doi-section">
        {% if page.project.info %}
        <h3>Additional info:</h3> <a href="{{ page.project.info }}" target="_blank">{{
            page.project.info
            }}</a>
        </p>
        {% endif %}

        {% if page.project.doi_data %}
        <p><strong>Data DOI:</strong> <a href="{{ page.project.doi_data }}" target="_blank">{{
                page.project.doi_data
                }}</a>
        </p>
        {% endif %}

        {% if page.project.doi_pub %}
        <p><strong>Publication DOI:</strong> <a href="{{ page.project.doi_pub }}" target="_blank">{{
                page.project.doi_pub }}</a></p>
        {% endif %}
    </div>

    {% if page.project.funding %}
    <h4 class="funding-title">Funding Organization</h4>
    <div class="funding-logos {% if page.project.funding|length == 1 %}single-logo{% endif %}">
        {% for fund in page.project.funding %}
        <div class="funding-logo-wrapper">
            <img src="{{ SITEURL }}/theme/images/logos_resized/{{ fund[0] }}" class="funding-logo" alt="Funding Logo">
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}

</div>
{% else %}
<div class="container my-5 text-center">
    <p>Project data not available.</p>
</div>
{% endif %}

{% endblock %}